*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 62.5%; /*1rem = 10px*/
}
.slider{
   position: absolute;
   top:  50%; 
   left: 50%;
   transform: translate(-50%,-50%);
   padding-top: 10px ;
}
.slides{
   display: flex;
   width: 50rem;
   overflow: hidden;

}
.slide{
    width: 50rem;
    transition: .5s;
}
.choose_1:checked ~ .slides > .s1{
   margin-left: -0rem;
}
.choose_2:checked ~ .slides > .s1{
    margin-left: -50rem;
 }
 .choose_3:checked ~ .slides > .s1{
    margin-left: -100rem;
 }


 @media (max-width: 768px) {
    .slider{
        position: absolute;
        top:  90%; 
        left: 50%;
        transform: translate(-50%,-50%);
        padding-top: 50px ;
     }
     .slides{
        display: flex;
        width: 30rem;
        overflow: hidden;
     
     }
     .slide{
         width: 50rem;
         transition: .5s;
     }
     .choose_1:checked ~ .slides > .s1{
        margin-left: -0rem;
     }
     .choose_2:checked ~ .slides > .s1{
         margin-left: -50rem;
      }
      .choose_3:checked ~ .slides > .s1{
         margin-left: -100rem;
      }
      .isi > .atas{
        padding-top: 250px;
        background-color: rgb(23, 22, 30);
    }
    .isi > .atas > p{
   color: aliceblue;
   padding-left: 50px;
   padding-right: 50px;
  }

  .isi > .atas > h1{
    color: aliceblue;
     text-align: center;
   }
  }

*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body{
    font-family: montserrat;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

/* NAVBAR STYLING STARTS */
.navbar {
  z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2d4e4f;
    color: #fff;
    height: 80vm;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #2d4e4f;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }

  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 700px) {
   .menu {
      display:none;
      position: absolute;
      background-color:#2d4e4f;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#2d4e4f;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  }

  section{
    background-color: rgb(23, 22, 30);
    background-size: cover;
    height: calc(100vh - 80px);
}

.about{
    padding-top: 30px;
    background-color: rgb(23, 22, 30);
}

.about > h1 {
    text-align: center;
    color: whitesmoke;
}

.about > p {
    padding-left: 50px;
    padding-right: 50px;
    color: whitesmoke;
}

.isi{
    padding-top: 50px;
    background-color: rgb(23, 22, 30);
}

.isi > h1 {
    text-align: center;
    color: whitesmoke;
}

.isi > p {
    padding-left: 50px;
    padding-right: 50px;
    color: whitesmoke;
}

.slides1 {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
display: block;
}

.design > img {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secdes{
  background-color: rgb(23, 22, 30);
  height: max-content;
}

@media (max-width: 768px) {
  .design > img {
    width: 500px;
    size: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.product > a{
  text-decoration: none;
  color: white;
}
